<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brctl.brightnesshook"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <application
        android:label="Brightness Curve Hook"
        android:hasCode="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Auto brightness curve hook (piecewise multiplier)" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
